.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  font-size: 175%;
  font-weight: 600;
  margin-bottom: 3.4rem;
  font-family: Arial, Helvetica, sans-serif;
}

.chooseFigure {
  display: inline-block;
  width: 12%;
}

.chooseSection {
  margin: 3rem auto;
}

.para {
  margin: 0;
  font-size: 0.7rem;
}

.board {
  background-color: #3a52a8;
  height: 500px;
  width: 500px;
  left: 50%;
  margin: auto;
}

.cells {
  display: inline-block;
  background-color: #ecefe6;
  cursor: pointer;
  position: relative;
  margin: 2px;
  padding: 0;
  width: 160px;
  height: 163px;
}

.row {
  width: 100%;
  margin: auto;
}

.btn-start {
  margin: 15px;
  border-radius: 15px;
  background-color: #3a52a8;
  border: 2px solid transparent;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

/*** INPUT COMPONENTS ***/

.inputText {
  margin: 4px;
  font-size: 1rem;
  background-color: #ecefe6;
  border: none;
  color: black;
}

.inputRadio {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 8px 10px;
}
